# Pylint configuration for Arkly projects.
#
# .pylintrc guide: https://github.com/PyCQA/pylint/blob/cfc393a8dff9ec09bd2fcb25857e772ae04a4991/examples/pylintrc
#
# Notes:
#
# 	- Values are comma separated.
#	- Place each exception on a newline.
# 	- Include a comma after each new entry.
# 	- Optionally, a comment for the value if additional context is needed,
#		e.g. disabled warnings, where normally warnings are our guide.
#

[MAIN]
extension-pkg-whitelist=pydantic

ignore=
	LICENSE,
	.pylintrc,

ignore-patterns=
	^(.+).ini$,
	.gitignore,
	.pre-commit-config.yaml,
	^(.+).md$,
	^(.+).sh$,
	^(.+).service$,

ignore-paths=
	requirements/*,
	.github/,
	tests/fixtures/vcrpy/*,

[MESSAGES CONTROL]

disable =
	C0301, 	# line-length too long, see Black documented recommendations.
