interactions:
- request:
    body: 'substitute: my_wallet.json -- form-data'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.arkly.io/create_transaction_form/
  response:
    body:
      string: '{"transaction_id":"nCwgpXlNjJs_hZAWz1-Ry9QSstVqBF1WZh-ACC5eqM4","transaction_link":"https://viewblock.io/arweave/tx/nCwgpXlNjJs_hZAWz1-Ry9QSstVqBF1WZh-ACC5eqM4","transaction_status":"PENDING","wallet_balance":"0.018366480788"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
