interactions:
- request:
    body: 'substitute: my_wallet.json -- form-data'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.arkly.io/create_transaction_form/
  response:
    body:
      string: '{"transaction_id":"TBkAGId-9EmaImQJXhoSvwcqOINPiYpJ0YCaCan1Jt4","transaction_link":"https://viewblock.io/arweave/tx/TBkAGId-9EmaImQJXhoSvwcqOINPiYpJ0YCaCan1Jt4","transaction_status":"PENDING","wallet_balance":"9.717013477825"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
